wsdl/LogicService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://service.logic.magisterka.agh.vandut.net/" targetNamespace="http://service.logic.magisterka.agh.vandut.net/">
	<wsdl:types>
		<xs:schema targetNamespace="http://service.logic.magisterka.agh.vandut.net/" elementFormDefault="qualified"/>
	</wsdl:types>
	<wsdl:message name="logic_statusSoapOut">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="NewMessageResponse">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="logic_startSoapIn">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="logic_startSoapOut">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="logic_stopSoapIn">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="logic_stopSoapOut">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>
	<wsdl:portType name="ServiceSoap">
		<wsdl:operation name="logic_status">
			<wsdl:input message="tns:logic_statusSoapOut"/>
			<wsdl:output message="tns:logic_statusSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="logic_start">
			<wsdl:input message="tns:logic_startSoapIn"/>
			<wsdl:output message="tns:logic_startSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="logic_stop">
			<wsdl:input message="tns:logic_stopSoapIn"/>
			<wsdl:output message="tns:logic_stopSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="logic_status">
			<soap:operation soapAction="tns:logic_status" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="logic_start">
			<soap:operation soapAction="tns:logic_start" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="logic_stop">
			<soap:operation soapAction="tns:logic_stop" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Service">
		<wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
			<soap:address location="http://0.0.0.0:9090/LogicService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
