wsdl/SmartCamera.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SmartCamera"
 targetNamespace="cam"
 xmlns:tns="cam"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:SmartCamera="cam"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="cam"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:SmartCamera="cam"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <!-- operation request element -->
  <element name="StartClassifier">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="StartClassifierResponse">
   <complexType>
    <sequence>
     <element name="StartClassifierReturn" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- SmartCamera__StartClassifier::StartClassifierReturn -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="GetLast">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="GetLastResponse">
   <complexType>
    <sequence>
     <element name="GetLastReturn" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- SmartCamera__GetLast::GetLastReturn -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="StartClassifierRequest">
 <part name="parameters" element="SmartCamera:StartClassifier"/><!-- SmartCamera__StartClassifier::SmartCamera__StartClassifier -->
</message>

<message name="StartClassifierResponse">
 <part name="parameters" element="SmartCamera:StartClassifierResponse"/>
</message>

<message name="GetLastRequest">
 <part name="parameters" element="SmartCamera:GetLast"/><!-- SmartCamera__GetLast::SmartCamera__GetLast -->
</message>

<message name="GetLastResponse">
 <part name="parameters" element="SmartCamera:GetLastResponse"/>
</message>

<portType name="SmartCameraPortType">
 <operation name="StartClassifier">
  <documentation>Service definition of function SmartCamera__StartClassifier</documentation>
  <input message="tns:StartClassifierRequest"/>
  <output message="tns:StartClassifierResponse"/>
 </operation>
 <operation name="GetLast">
  <documentation>Service definition of function SmartCamera__GetLast</documentation>
  <input message="tns:GetLastRequest"/>
  <output message="tns:GetLastResponse"/>
 </operation>
</portType>

<binding name="SmartCamera" type="tns:SmartCameraPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="StartClassifier">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="GetLast">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="SmartCamera">
 <documentation>gSOAP 2.8.9 generated service definition</documentation>
 <port name="SmartCamera" binding="tns:SmartCamera">
  <SOAP:address location="http://149.156.97.221/"/>
 </port>
</service>

</definitions>
